body{
	margin: auto;
	margin-top: 20px;
	max-width: 900px;
}

header{
	background-color: rgb(202, 199, 199);
	padding: 10px;
}

header > div{
	vertical-align: middle;
}

p{
	text-align: justify;
}

.meu-codigo{
	margin-left: -400px;
}

img{
	max-width: 200px;
}

@media screen and (max-width: 900px){
	body{
		margin: 20px 30px;
	}
}