*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	margin: auto;
	margin-top: 20px;
	max-width: 900px;
}

header{
	margin: auto;
	margin-bottom: 20px;
	max-width: 700px;
	background-color: #dddddd;
	padding: 10px;
	border-radius: 10px;
}

header > p{
	margin: 0;
	text-align: center;
}

p{
	text-align: justify;
}

.meu-codigo{
	margin-left: -445px;
}

img{
	max-width: 200px;
}

@media screen and (max-width: 950px){
	body{
		margin: 20px 30px;
	}

	.meu-codigo{
		margin-left: -375px;
	}

	p, .meu-codigo{
		font-size: 1.8vw;
	}
}

@media screen and (max-width: 750px){
	body{
		margin: 20px 30px;
	}

.meu-codigo{
	margin-left: -745px;
}

	p, .meu-codigo{
		font-size: 4vw;
	}
}

@media screen and (max-width: 450px){
	body{
		margin: 20px 30px;
	}

	.meu-codigo{
		margin-left: -385px;
	}

	p, .meu-codigo{
		font-size: 4vw;
	}
}