*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	margin: auto;
	margin-top: 20px;
	max-width: 900px;
}

a:hover{
	color: #000;
}

header a{
	color: #000;
	text-decoration: none;
}

header a:hover{
	padding: 5px 10px;
}

.logo a:hover{
	text-decoration: underline;
}

.author a{
	font-weight: 700;
}

.author a::after{
	content: " \01F517";
}

header a:hover, .index-list a:hover{
	background-color: #dddddd;
}

header a:hover, .index-list a:hover, .repository a:hover{
	border-radius: 10px;
	transition: linear .15s;
}

main{
	height: 65vh;
}

.index-list a:hover, .repository a:hover{
	padding: 1px 5px;
}

.repository a:hover{
	background-color: #c7c6c6;
}

footer{
	margin: auto;
	margin-bottom: 20px;
	max-width: 700px;
	background-color: #dddddd;
	padding: 10px;
	border-radius: 10px;
}

footer > p{
	margin: 0;
	text-align: center;
}

p{
	text-align: justify;
}

.meu-codigo{
	margin-left: -445px;
}

img{
	max-width: 200px;
}

@media screen and (max-width: 950px){
	body{
		margin: 20px 30px;
	}

	.meu-codigo{
		margin-left: -375px;
	}

	p, .meu-codigo{
		font-size: 1.8vw;
	}
}

@media screen and (max-width: 750px){
	body{
		margin: 20px 30px;
	}

	.meu-codigo{
	margin-left: -545px;
}

	p, .meu-codigo{
		font-size: 4vw;
	}
}

@media screen and (max-width: 450px){
	body{
		margin: 20px 30px;
	}

	.meu-codigo{
		margin-left: -385px;
	}

	p, .meu-codigo{
		font-size: 4vw;
	}
}